/*  your css code here. If applicable */
.container{
	background-color:grey;
	padding:20px;
	display:flex;
	padding:50px;

	
}
.green{
	background-color:green;
	width:100px;
	height:100px;
	margin-right:50px;
	border-radius:50px;
	
}
.yellow{
	background-color:yellow;
	width:100px;
	height:100px;
	margin-right:50px;
	border-radius:50px;
}
.red{
	background-color:red;
	width:100px;
	height:100px;
	border-radius:50px;
	
}

